<h1>Listing sources</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= source.nome %></td>
        <td><%= source.status %></td>
        <td><%= link_to 'Show', source , class: "btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_source_path(source) , class: "btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? && current_user.admin? %>
<%= link_to 'New Source', new_source_path %>
<% end %>
