<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @source.nome %>
</p>

<p>
  <strong>Status:</strong>
  <%= @source.status %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
