<p id="notice"><%= notice %></p>

<h2><%= @request.project.nome %></h2>

<p class="pull-right">
<strong>Criado por:</strong >
<%= @request.user.nome %>
  <strong>Status:</strong >
  <%= @request.status %>
</p>


<br>
<hr>

<div class="row">
  <div class="col-xs-6 col-sm-3">


<p>
  <strong>Source:</strong>
  <%= @request.sources.map { |c| c.nome}.join(' | ') %>
</p>

<p>
  <strong>Environment:</strong>
  <%= @request.environment %>
</p>


   </div>
  <div class="col-xs-6 col-sm-3">


<p><strong>Data solicitacao:</strong>
<%= @request.data_solicitacao.strftime("%d/%m/%Y")  %>
</p>

<p>
  <strong>Data pre:</strong>
  <%= @request.data_pre.strftime("%d/%m/%Y")  %>
</p>

<p>
  <strong>Data pro:</strong>
  <%= @request.data_pro.strftime("%d/%m/%Y")  %>
</p>

<p>

   </div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>

  <div class="col-xs-6 col-sm-3">

<p>
  <strong>Recompilado:</strong>

    <% if @request.recompilado == true %>
          <%= 'Sim' %>
        <% else %>
         <%= 'Não' %>
        <% end %>
</p>

  <p>
  <strong>Data alteracao:</strong>
  <%= @request.data_alteracao.strftime("%d/%m/%Y")  %>

  <p>
  <strong>Oficializado:</strong>
    <% if @request.oficializar  == true %>
          <%= 'Sim em ' + @request.data_oficializacao.strftime("%d/%m/%Y")  %>
        <% else %>
         <%= 'Não oficializado' %>
        <% end %>
</p>



</p>

   </div>
  <div class="col-xs-6 col-sm-3">



<p>
  <strong>Observation:</strong>
  <%= @request.observation %>
</p>








   </div>
</div>





<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
