<h1>Listing projects</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Criado Por:</th>
      <th>Nome</th>
      <th>Lider Tivit</th>
      <th>Pep</th>
      <th>Data inicio</th>
      <th>Data pro</th>
      <th>Total horas</th>
      <th>Total Faturado </th>
      <th>Horas consumidas</th>
      <th>Avanco fisico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.user.nome %></td>
        <td><%= project.nome %></td>
        <td><%= project.lider_tivit %></td>
        <td><%= project.pep %></td>
        <td><%= project.data_inicio.strftime("%d/%m/%Y") %></td>
        <td><%= project.data_pro.strftime("%d/%m/%Y") %></td>
        <td><%= project.horas_swf + project.horas_sf  %></td>
        <td><%= project.faturado_sf + project.faturado_swf  %></td>
        <td><%= project.horas_consumidas %></td>
        <td><%= number_to_percentage(project.avanco_fisico, precision: 0) %></td>
        <td><%= link_to 'Show', project, class: "btn btn-primary btn-sm" %></td>
        <% if (user_signed_in?) && (current_user == project.user) %>
        <td><%= link_to 'Edit', edit_project_path(project) , class: "btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm"  %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in?  && current_user.admin? %>
<%= link_to 'New Project', new_project_path %>
<% end %>
