<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @project.nome %>
</p>

<p>
  <strong>Lider tivit:</strong>
  <%= @project.lider_tivit %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @project.empresa %>
</p>

<p>
  <strong>Pep:</strong>
  <%= @project.pep %>
</p>

<p>
  <strong>Lider ict:</strong>
  <%= @project.lider_ict %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @project.data_inicio %>
</p>

<p>
  <strong>Data pre:</strong>
  <%= @project.data_pre %>
</p>

<p>
  <strong>Data teste:</strong>
  <%= @project.data_teste %>
</p>

<p>
  <strong>Data homologacao:</strong>
  <%= @project.data_homologacao %>
</p>

<p>
  <strong>Data pro:</strong>
  <%= @project.data_pro %>
</p>

<p>
  <strong>Horas swf:</strong>
  <%= @project.horas_swf %>
</p>

<p>
  <strong>Horas sf:</strong>
  <%= @project.horas_sf %>
</p>

<p>
  <strong>Total horas:</strong>
  <%= @project.total_horas %>
</p>

<p>
  <strong>Faturado sf:</strong>
  <%= @project.faturado_sf %>
</p>

<p>
  <strong>Faturado swf:</strong>
  <%= @project.faturado_swf %>
</p>

<p>
  <strong>Horas consumidas:</strong>
  <%= @project.horas_consumidas %>
</p>

<p>
  <strong>Avanco fisico:</strong>
  <%= @project.avanco_fisico %>
</p>

<p>
  <strong>Desvio:</strong>
  <%= @project.desvio %>
</p>

<p>
  <strong>Processo:</strong>
  <%= @project.processo %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
