<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @project.nome %>
</p>

<p>
  <strong>Lider tivit:</strong>
  <%= @project.lider_tivit %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @project.empresa %>
</p>

<p>
  <strong>Pep:</strong>
  <%= @project.pep %>
</p>

<p>
  <strong>Lider ict:</strong>
  <%= @project.lider_ict %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @project.data_inicio.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Data pre:</strong>
  <%= @project.data_pre.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Data teste:</strong>
  <%= @project.data_teste.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Data homologacao:</strong>
  <%= @project.data_homologacao.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Data pro:</strong>
  <%= @project.data_pro.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Horas swf:</strong>
  <%= @project.horas_swf %>
</p>

<p>
  <strong>Horas sf:</strong>
  <%= @project.horas_sf %>
</p>

<p>
  <strong>Total horas:</strong>
  <%= @project.horas_swf + @project.horas_sf  %>

</p>

<p>
  <strong>Faturado sf:</strong>
  <%= @project.faturado_sf %>
</p>

<p>
  <strong>Faturado swf:</strong>
  <%= @project.faturado_swf %>
</p>

<p>
  <strong>Horas consumidas:</strong>
  <%= @project.horas_consumidas %>
</p>

<p>
  <strong>Avanco fisico:</strong>
  <%= number_to_percentage(@project.avanco_fisico, precision: 0) %>
</p>

<p>
  <strong>Desvio:</strong>
  <%= @project.desvio %>
</p>

<p>
  <strong>Processo:</strong>
    <% if @project.processo == true %>
          <%= 'Seguindo o processo ' %>
        <% else %>
         <%= 'Não está seguindo o processo' %>
        <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
