<!DOCTYPE html>
<html>
<head>
  <title>Compilation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'List Request', requests_path %> |
<%= link_to 'List Project', projects_path %> |
<%= link_to 'List Product', products_path %> |
<%= link_to 'List Source',  sources_path %> |

<%= link_to 'New Request', new_request_path %> |
<%= link_to 'New Project', new_project_path %> |
<%= link_to 'New Product', new_product_path %> |
<%= link_to 'New Source', new_source_path %> |


<%= yield %>

</body>
</html>
